body{
 color: rebeccapurple;
  font-family : arial;
  background-color:white;
margin: 0;
}

.between{
  display:inline;
  margin-left : 300px;
  padding: auto auto;
position: absolute;
top:30px;
right:600px;
}
.again{
  
  font-size:20px;
  background-color:white;
  border-radius:2px;
  cursor:pointer;
position: absolute;
top:360px;
left:200px;
}
  .right{
    text-align:right;
    position: absolute;
    bottom:30px;
  }
.guess{
  border: black;
  display: block;
position: absolute;
top:200px;
left:100px;
padding: 15px 50px;
margin: 0;
}
.check{
  display:inline-block;
  font-size:15px;
  cursor:pointer;
  position: absolute;
  top:360px;
 left:125px;
text-decoration: center;
}
.guess{
  background-color:black;
 color:#fff;
 
  margin-top:50px;
  margin-left:20px;
  height:70px;
  width:90px;
  border-radius:3px;
  padding-left:60px;
  font-size: 20px;
  
}
.check:hover{
  color:blue;
}
.Number{
  text-align: center;
  height:40px;
  width:62px;
margin-left:440px;
  margin-bottom: 0px;
  margin-top:20px;
  color:white;
  background-color:red;
  padding: 30px 30px;
  position: absolute;
  top:60px;
  right:600px;
  font-size:35px;
  border-radius: 100%;
  font-family: Times 'Times New Roman', Times, serifs;
}
hr{
  color:black;
height:2px;
  background-color: black;
margin-top: -40px;
}
h1{
  margin-left: 320px;;
}
.again:hover{
  color: violet;
  
}
.head{
  margin-top: 0;
}
.heading{
  margin: 0;
  text-align: center;
  color: rebeccapurple;
}
.line{
  position: absolute;
  left:30px;
  top:200px;
  margin: 0;

}